body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

section h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

section ul {
    padding-left: 20px;
}

section ul li {
    margin-bottom: 10px;
}

#informacion {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    display: flex;
}

#biografia{
    flex: 1;
}

#informacion-personal {
    flex: 1;
    padding-left: 20px;
}

.resolution{
    height: 676px;
    width: 1200px;
    margin-bottom: 25px;

}

.slider-frame {
    width: 100%; /* Modificamos el ancho para que ocupe el ancho completo del contenedor */
    overflow: hidden;
    position: relative; /* Necesario para el posicionamiento absoluto de las imágenes */
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 1000%; /* Ancho igual al número de imágenes multiplicado por 100% */
    animation: slide 10s infinite alternate; /* Modificamos la duración de la animación */
}

.slider-frame li {
    list-style: none;
    width: 10%; /* Ancho igual a 100% dividido por el número de imágenes */
}

.slider-frame img {
    width: 100%; /* Hacemos que las imágenes ocupen todo el ancho del contenedor */
}

@keyframes slide {
    0% {margin-left: 0;}
    10% {margin-left: 0;}
    20% {margin-left: -100%;}
    30% {margin-left: -100%;}
    40% {margin-left: -200%;}
    50% {margin-left: -200%;}
    60% {margin-left: -300%;}
    70% {margin-left: -300%;}
    80% {margin-left: -400%;}
    90% {margin-left: -400%;}
    100% {margin-left: -500%;} /* Ajustamos el porcentaje final al ancho total */
}
