<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="galeria.css">
    <title>Galeria</title>
</head>
<body>

    <header>
        <h1>Ryan Gosling</h1>
        <nav>
            <ul>
                <li><a href="../index/index.html">Biografía</a></li>
                <li><a href="../filmografia/filmografia.html">Filmografía</a></li>
                <li><a href="#galeria">Imágenes</a></li>
            </ul>
        </nav>
    </header>

    <h2>Frames memorables</h2>

    <div class = "row">
        <div class = "column">
            <img alt="picture1"  src="1.webp">
            <img alt="picture2"  src="2.webp">
            <img alt="picture3"  src="3.jpg">
            <img alt="picture4"  src="4.jpg">
            <img alt="picture5"  src="5.webp">
        </div>

        <div class = "column">
            <img alt="picture6"  src="6.jpg">
            <img alt="picture7"  src="7.webp">
            <img alt="picture8"  src="8.webp">
            <img alt="picture9"  src="9.jpg">
            <img alt="picture10"  src="10.png">
        </div>

        <div class = "column">
            <img alt="picture11"  src="11.jpg">
            <img alt="picture12"  src="12.png">
            <img alt="picture13"  src="13.png">
            <img alt="picture14"  src="14.jpg">
            <img alt="picture15"  src="15.jpg">
        </div>

        <div class = "column">
            <img alt="picture16"  src="16.jpg">
            <img alt="picture17"  src="17.jpg">
            <img alt="picture18"  src="18.jpg">
            <img alt="picture19"  src="19.webp">
            <img alt="picture20"  src="20.jpg">
        </div>
    </div>

    <footer>
        <p>© 2020 Ryan Gosling</p>
    </footer>

</body>
</html>
