<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="galeria.css">
    <title>Galeria</title>
</head>
<body>

    <header>
        <h1>Ryan Gosling</h1>
        <nav>
            <ul>
                <li><a href="../index/index.html">Biografía</a></li>
                <li><a href="../filmografia/filmografia.html">Filmografía</a></li>
                <li><a href="#galeria">Imágenes</a></li>
            </ul>
        </nav>
    </header>

    <h2>Frames memorables</h2>

    <div class="slider-frame">
        <ul>
            <li><img class="resolution" src="slider1.jpg" alt=""></li>
            <li><img class="resolution" src="slider2.png" alt=""></li>
            <li><img class="resolution" src="slider3.png" alt=""></li>
            <li><img class="resolution" src="slider4.jpg" alt=""></li>
            <li><img class="resolution" src="slider5.jpg" alt=""></li>
            <li><img class="resolution" src="slider6.jpg" alt=""></li>
            <li><img class="resolution" src="slider7.jpg" alt=""></li>
            <li><img class="resolution" src="slider8.jpg" alt=""></li>
            <li><img class="resolution" src="slider9.webp" alt=""></li>
            <li><img class="resolution" src="slider10.jpg" alt=""></li>    
        </ul>
    </div>

    <main class="galeria">
        <div class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
    </main>

    <footer>
        <p>© 2020 Ryan Gosling</p>
    </footer>

</body>
</html>
