body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: red;
}

header {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: red; /* Cambiar el color del texto a rojo */
}
