<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="filmografia.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-XrryVjXDE/D75tbOC84U3MgaJ+LrvTlCezWQpeaMfUkmm9wBY/SS0A0kFA//sJYwD1FZkIXG2+7UgkYu61unvw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="filmografia.css">
    <title>Filmografía</title>
</head>
<body>
<header>
    <h1>Ryan Gosling</h1>
    <nav>
        <ul>
            <li style="opacity: 0;"><a href="../dont touch/cute.html">dadawdw</a></li>
            <li><a href="../index/index.html">Biografía</a></li>
            <li><a href="#filmografia">Filmografía</a></li>
            <li><a href="../galeria/galeria.html">Imágenes</a></li>
            <li><a href="../margot_robbie/margot.html">Biografía de Margot Robbie</a></li>
        </ul>
        <button id="theme-toggle">Toggle Dark Mode</button>
      </nav>
    </header>
    <main class="cartelera">
      <div class="pelicula">
        <img src="" alt="The Believer" />
        <h3>The Believer (2001)</h3>
        <div class="trama">Un joven judío se involucra en grupos neonazis por un conflicto de identidad.</div>
    </div>
      <div class="pelicula">
        <img src="" alt="Murder in my mind" />
        <h3>Murder by Numbers (2002)</h3>
        <div class="trama">
          Dos estudiantes de secundaria planean y ejecutan un asesinato perfecto solo para ser investigados por una detective.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="The Slaughter Rule" />
        <h3>The Slaughter Rule (2002)</h3>
        <div class="trama">Un estudiante de secundaria que se une a un equipo de fútbol de seis hombres.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="" />
        <h3>The United States of Leland (2003)</h3>
        <div class="trama">La película sigue a un joven llamado Leland que es enviado a un centro de detención juvenil después de cometer un asesinato.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="The Notebook" />
        <h3>The Notebook (2004)</h3>
        <div class="trama">La película cuenta la historia de amor entre Allie y Noah, que se conocen durante un verano y se separan debido a sus diferencias sociales.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="Stay" />
        <h3>Stay (2005)</h3>
        <div class="trama">La película sigue a un psiquiatra, Sam Foster, que intenta prevenir que uno de sus pacientes, Henry, se suicide. </div>
      </div>

      <div class="pelicula">
        <img src="" alt="Half Nelson" />
        <h3>Half Nelson (2006)</h3>
        <div class="trama">La película sigue a un profesor de secundaria, Dan Dunne, que forma una amistad inusual con una de sus estudiantes, Drey, después de que ella descubre su adicción a las drogas</div>
      </div>
      <div class="pelicula">
        <img src="" alt="Lars and the Real Girl" />
        <h3>Lars and the Real Girl (2008)</h3>
        <div class="trama">Un hombre socialmente torpe, desarrolla una relación romántica no sexual con una muñeca sexual anatómicamente correcta</div>
      </div>
      <div class="pelicula">
        <img src="" alt="Blue Valentine" />
        <h3>Blue Valentine (2010)</h3>
        <div class="trama">La película sigue la relación de una pareja casada, Dean y Cindy, alternando entre su cortejo y la disolución de su matrimonio varios años después</div>
      </div>
      <div class="pelicula">
        <img src="" alt="All Good Things" />
        <h3>All Good Things (2010)</h3>
        <div class="trama">La película está inspirada en la vida de Robert Durst y sigue a David Marks, el hijo de un magnate inmobiliario, que desarrolla una relación perturbadora con su esposa y se convierte en sospechoso de una serie de asesinatos</div>
      </div>
      <div class="pelicula">
        <img src="" alt="Crazy, Stupid, Love" />
        <h3>Crazy, Stupid, Love (2011)</h3>
        <div class="trama">La película sigue a Cal, un hombre de mediana edad cuya vida cambia drásticamente cuando su esposa le pide el divorcio. Con la ayuda de un nuevo amigo, Jacob, aprende a seducir a las mujeres en los bares</div>
      </div>
      <div class="pelicula">
        <img src="" alt="Drive" />
        <h3>Drive (2011)</h3>
        <div class="trama">La película sigue a un conductor de escape misterioso y solitario que se ve arrastrado a un peligroso inframundo después de aceptar ayudar a su vecina y a su joven hijo.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="The Ides of March" />
        <h3>The Ides of March (2011)</h3>
        <div class="trama">La película sigue a un idealista miembro del personal de una campaña presidencial que se ve envuelto en juegos políticos sucios.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="Gangster Squad" />
        <h3>Gangster Squad (2013)</h3>
        <div class="trama">La película sigue a un equipo de policías de Los Ángeles que intentan mantener a la mafia fuera de su ciudad en los años 40 y 50.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="The Place Beyond the Pines" />
        <h3>The Place Beyond the Pines (2013)</h3>
        <div class="trama">La película sigue a un motociclista de acrobacias que se convierte en ladrón de bancos para mantener a su familia, lo que lo pone en el camino de un ambicioso policía novato.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="Only God Forgives" />
        <h3>Only God Forgives (2013)</h3>
        <div class="trama">La película sigue a Julian, un criminal que dirige un club de boxeo en Bangkok como fachada para su tráfico de drogas.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="Lost River" />
        <h3>Lost River (2014) - También director</h3>
        <div class="trama">La película sigue a una madre soltera que es arrastrada a un oscuro submundo mientras su hijo adolescente descubre una carretera secreta que lleva a una ciudad subacuática.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="The Big Short" />
        <h3>The Big Short (2015)</h3>
        <div class="trama">La película sigue a un grupo de inversores que apuestan contra el mercado de viviendas de alto riesgo y ganan, lo que lleva a la crisis financiera de 2007-2008.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="La La Land" />
        <h3>La La Land (2016)</h3>
        <div class="trama">La película sigue a una aspirante a actriz y un músico de jazz que se enamoran mientras intentan hacer realidad sus sueños en Los Ángeles.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="Blade Runner 2049" />
        <h3>Blade Runner 2049 (2017)</h3>
        <div class="trama">La película sigue a un nuevo blade runner, el oficial K, que descubre un secreto enterrado durante mucho tiempo que tiene el potencial de sumir lo que queda de la sociedad en el caos.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="First Man" />
        <h3>First Man (2018)</h3>
        <div class="trama">La película sigue al astronauta Neil Armstrong en los años previos al aterrizaje lunar del Apolo 11 en 1969.</div>
      </div>
      <div class="pelicula">
        <img src="" alt="Barbie" />
        <h3>Barbie (2022)</h3>
        <div class="trama">La Barbie estereotipada y sus compañeras residen en Barbieland, una sociedad matriarcal poblada por diferentes versiones de Barbies, Kens y un grupo de modelos descatalogadas, que son tratadas como raras debido a sus rasgos poco convencionales.</div>
      </div>
    </main>
    <footer>
        <p>Derechos de autor © 2024. Todos los derechos reservados.</p>
    </footer>
    <script src="darkmode.js"></script>
  </body>
</html>