body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

.dark-mode body, .dark-mode .pelicula{
    background-color: #000;
    color: #fff;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

header {
    background-color: #333;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cartelera {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.pelicula {
    background-color: #f9f9f9;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.pelicula img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li strong {
    font-weight: bold;
}

li em {
    font-style: italic;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.pelicula {
  transition: all 0.2s ease-in-out;
}

.pelicula:hover {
  transform: scale(1.1);
}