<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="filmografia.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-XrryVjXDE/D75tbOC84U3MgaJ+LrvTlCezWQpeaMfUkmm9wBY/SS0A0kFA//sJYwD1FZkIXG2+7UgkYu61unvw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Filmografía</title>
</head>
<body>
<header>
    <h1>Ryan Gosling</h1>
    <nav>
        <ul>
            <li style="opacity: 0;"><a href="../dont touch/cute.html">dadawdw</a></li>
            <li><a href="../index/index.html">Biografía</a></li>
            <li><a href="#filmografia">Filmografía</a></li>
            <li><a href="../galeria/galeria.html">Imágenes</a></li>
        </ul>
        <button id="theme-toggle">Toggle Dark Mode</button>
      </nav>
    </header>
    <main class="cartelera">
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/R.b4f969988b5242edbc2963486801a234?rik=ZucbmHhWeiPYdA&pid=ImgRaw&r=0" alt="The Believer" />
        <h3>The Believer (2001)</h3>
        <div class="trama">Un joven judío se involucra en grupos neonazis por un conflicto de identidad.</div>
    </div>
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/OIP.c6gBRurucqYp9H87mKhd_gHaKy?rs=1&pid=ImgDetMain" alt="Murder in my mind" />
        <h3>Murder by Numbers (2002)</h3>
        <div class="trama">
          Dos estudiantes de secundaria planean y ejecutan un asesinato perfecto solo para ser investigados por una detective.</div>
      </div>
      <div class="pelicula">
        <img src="https://upload.wikimedia.org/wikipedia/en/1/11/SlaughterRule.jpg" alt="The Slaughter Rule" />
        <h3>The Slaughter Rule (2002)</h3>
        <div class="trama">Un estudiante de secundaria que se une a un equipo de fútbol de seis hombres.</div>
      </div>
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/OIP.u_1WiTULRTjnVEJKfVjXhQHaKj?rs=1&pid=ImgDetMain" alt="" />
        <h3>The United States of Leland (2003)</h3>
        <div class="trama">La película sigue a un joven llamado Leland que es enviado a un centro de detención juvenil después de cometer un asesinato.</div>
      </div>
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/R.8f21c26dc7db5550dff9e676c4a10329?rik=mAaxIFvLo3pTHQ&pid=ImgRaw&r=0" alt="The Notebook" />
        <h3>The Notebook (2004)</h3>
        <div class="trama">La película cuenta la historia de amor entre Allie y Noah, que se conocen durante un verano y se separan debido a sus diferencias sociales.</div>
      </div>
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/OIP.smofHUbC298GRqe7_WC91gHaJ4?rs=1&pid=ImgDetMain" alt="Stay" />
        <h3>Stay (2005)</h3>
        <div class="trama">La película sigue a un psiquiatra, Sam Foster, que intenta prevenir que uno de sus pacientes, Henry, se suicide. </div>
      </div>

      <div class="pelicula">
        <img src="https://th.bing.com/th/id/R.a8d61b2c2adbced1f5197193fcca44e4?rik=zBf8nmT%2fmVGn0g&pid=ImgRaw&r=0" alt="Half Nelson" />
        <h3>Half Nelson (2006)</h3>
        <div class="trama">La película sigue a un profesor de secundaria, Dan Dunne, que forma una amistad inusual con una de sus estudiantes, Drey, después de que ella descubre su adicción a las drogas</div>
      </div>
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/OIP.92Oqa76F-kT1lvZ-XJCsTQHaLH?rs=1&pid=ImgDetMain" alt="Lars and the Real Girl" />
        <h3>Lars and the Real Girl (2008)</h3>
        <div class="trama">Un hombre socialmente torpe, desarrolla una relación romántica no sexual con una muñeca sexual anatómicamente correcta</div>
      </div>
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/R.55a91b26a1eeaea25b12480c8d973fe7?rik=hGtDqmy2uodsZg&pid=ImgRaw&r=0" alt="Blue Valentine" />
        <h3>Blue Valentine (2010)</h3>
        <div class="trama">La película sigue la relación de una pareja casada, Dean y Cindy, alternando entre su cortejo y la disolución de su matrimonio varios años después</div>
      </div>
      <div class="pelicula">
        <img src="https://m.media-amazon.com/images/M/MV5BMTcwMjIyMTc2Nl5BMl5BanBnXkFtZTcwOTQyMzc5Mw@@._V1_UY1200_CR90,0,630,1200_AL_.jpg" alt="All Good Things" />
        <h3>All Good Things (2010)</h3>
        <div class="trama">La película está inspirada en la vida de Robert Durst y sigue a David Marks, el hijo de un magnate inmobiliario, que desarrolla una relación perturbadora con su esposa y se convierte en sospechoso de una serie de asesinatos</div>
      </div>
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/OIP.5G8i1qVPFrFV-gsPwJiPUgHaKz?rs=1&pid=ImgDetMain" alt="Crazy, Stupid, Love" />
        <h3>Crazy, Stupid, Love (2011)</h3>
        <div class="trama">La película sigue a Cal, un hombre de mediana edad cuya vida cambia drásticamente cuando su esposa le pide el divorcio. Con la ayuda de un nuevo amigo, Jacob, aprende a seducir a las mujeres en los bares</div>
      </div>
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/R.5af0b051a0a2d03f6d1b935c11bf4609?rik=K375M2SsIeuKSw&pid=ImgRaw&r=0" alt="Drive" />
        <h3>Drive (2011)</h3>
        <div class="trama">La película sigue a un conductor de escape misterioso y solitario que se ve arrastrado a un peligroso inframundo después de aceptar ayudar a su vecina y a su joven hijo.</div>
      </div>
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/OIP.rfhLgIJvZ_9eElg-ZfWAHwAAAA?rs=1&pid=ImgDetMain" alt="The Ides of March" />
        <h3>The Ides of March (2011)</h3>
        <div class="trama">La película sigue a un idealista miembro del personal de una campaña presidencial que se ve envuelto en juegos políticos sucios.</div>
      </div>
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/R.6b3cc15319cfc4ed547f04ce437288ae?rik=ESxyRKLuVW5%2bHw&pid=ImgRaw&r=0" alt="Gangster Squad" />
        <h3>Gangster Squad (2013)</h3>
        <div class="trama">La película sigue a un equipo de policías de Los Ángeles que intentan mantener a la mafia fuera de su ciudad en los años 40 y 50.</div>
      </div>
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/R.b5fa8cd7eb08b4109fc38fd0050f8883?rik=upaJHaWl0OakBw&riu=http%3a%2f%2fthefilmstage.com%2fwp-content%2fuploads%2f2013%2f01%2fplace_beyond_pines_poster.jpg&ehk=PuxP%2faR2DVDk%2bCxM%2fAFqC1jgLfmqlAsi%2fHbtDEJMQik%3d&risl=&pid=ImgRaw&r=0" alt="The Place Beyond the Pines" alt="The Place Beyond the Pines" />
        <h3>The Place Beyond the Pines (2013)</h3>
        <div class="trama">La película sigue a un motociclista de acrobacias que se convierte en ladrón de bancos para mantener a su familia, lo que lo pone en el camino de un ambicioso policía novato.</div>
      </div>
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/R.fd91e67b70b1957487df1d564f269ddd?rik=8tppcHZ8euV36Q&pid=ImgRaw&r=0" alt="Only God Forgives" />
        <h3>Only God Forgives (2013)</h3>
        <div class="trama">La película sigue a Julian, un criminal que dirige un club de boxeo en Bangkok como fachada para su tráfico de drogas.</div>
      </div>
      <div class="pelicula">
        <img src="https://d2iltjk184xms5.cloudfront.net/uploads/photo/file/239822/5a57d46bad288bb4635b4d67e58a6c61-a5648de2-1945-4000-87a0-db51d9b92cc1.jpeg" alt="Lost River" />
        <h3>Lost River (2014) - También director</h3>
        <div class="trama">La película sigue a una madre soltera que es arrastrada a un oscuro submundo mientras su hijo adolescente descubre una carretera secreta que lleva a una ciudad subacuática.</div>
      </div>
      <div class="pelicula">
        <img src="https://www.themoviedb.org/t/p/original/13ERBi135Y4VXtrdNooy2fg2OUV.jpg" alt="The Big Short" />
        <h3>The Big Short (2015)</h3>
        <div class="trama">La película sigue a un grupo de inversores que apuestan contra el mercado de viviendas de alto riesgo y ganan, lo que lleva a la crisis financiera de 2007-2008.</div>
      </div>
      <div class="pelicula">
        <img src="https://picfiles.alphacoders.com/350/350111.jpg" alt="La La Land" />
        <h3>La La Land (2016)</h3>
        <div class="trama">La película sigue a una aspirante a actriz y un músico de jazz que se enamoran mientras intentan hacer realidad sus sueños en Los Ángeles.</div>
      </div>
      <div class="pelicula">
        <img src="https://image.tmdb.org/t/p/original/5EuXvLuNVIVsYDa3d4VrPtnBy5.jpg" alt="Blade Runner 2049" />
        <h3>Blade Runner 2049 (2017)</h3>
        <div class="trama">La película sigue a un nuevo blade runner, el oficial K, que descubre un secreto enterrado durante mucho tiempo que tiene el potencial de sumir lo que queda de la sociedad en el caos.</div>
      </div>
      <div class="pelicula">
        <img src="https://th.bing.com/th/id/R.ca09e8acac7b84c25574c334e57b557c?rik=bM0Witd4yjB7Bw&riu=http%3a%2f%2fwww.impawards.com%2f2018%2fposters%2ffirst_man_ver6.jpg&ehk=bBSZaLitbGT9bE4pMdRvZNxG4gptF4Vykc3PQC9%2boZw%3d&risl=&pid=ImgRaw&r=0" alt="First Man" alt="First Man" />
        <h3>First Man (2018)</h3>
        <div class="trama">La película sigue al astronauta Neil Armstrong en los años previos al aterrizaje lunar del Apolo 11 en 1969.</div>
      </div>
      <div class="pelicula">
        <img src="https://www.claquete.com.br/fotos/filmes/poster/14754_medio.jpg" alt="Barbie" />
        <h3>Barbie (2022)</h3>
        <div class="trama">La Barbie estereotipada y sus compañeras residen en Barbieland, una sociedad matriarcal poblada por diferentes versiones de Barbies, Kens y un grupo de modelos descatalogadas, que son tratadas como raras debido a sus rasgos poco convencionales.</div>
      </div>
      <div class="pelicula">
        <img src="https://upload.wikimedia.org/wikipedia/en/1/1f/The_Fall_Guy_%282024%29_poster.jpg" alt="The Fall Guy(2024)" />
        <h3>The Fall Guy(2024)</h3>
      </div>
    </main>
    <footer>
      <p>Derechos de autor © 2024. Todos los derechos reservados.</p>
    </footer>
    <script src="darkmode.js"></script>
  </body>
</html>