<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan Gosling</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <header>
        <h1>Ryan Gosling</h1>
        <nav>
            <ul>
                <li><a href="#biografia">Biografía</a></li>
                <li><a href="../filmografia/filmografia.html">Filmografía</a></li>
                <li><a href="../galeria/galeria.html">Imágenes</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div id="informacion">
            <section id="Hola">
                <h2>Biografía</h2>
                <p>Ryan Thomas Gosling (London, Ontario; 12 de noviembre de 1980) es un actor, cantante y músico canadiense. También ha incursionado en la dirección y producción cinematográfica. Tuvo la atención del público como estrella infantil en Mickey Mouse Club de Disney Channel (desde 1993 hasta 1999 y apareció en otros programas de entretenimiento familiar incluyendo Are You Afraid of the Dark? (1995), Goosebumps (1996), Breaker High (1997-98) y Young Hercules (1998-99). Su primer papel importante en el cine fue en The believer (2001), y luego construyó una reputación por sus interpretaciones en películas independientes como Murder by numbers (2002), The Slaughter Rule (2002), The United States of Leland (2003) y Stay (2005).</p>
                <p>Tuvo atención pública en 2004 con un papel protagonista en The Notebook, por la que ganó cuatro Teen Choice Awards y un premio MTV Movie Award. Su actuación en Half Nelson (2006) estuvo nominada por un Premio a la Academia y su papel en Lars and the Real Girl (2008) estuvo nominada por el Globo de Oro. En 2007, protagonizó la película de suspense Fracture.</p>
                <p>Después de una pausa de tres años, protagonizó Blue Valentine y All Good Things en 2010. Su actuación en esta última le valió una segunda nominación al Globo de Oro. El año 2011 resultó ser un año histórico para el actor ya que apareció en tres películas: Crazy, Stupid, Love, el thriller Drive y el drama político The Ides of March. En 2013, protagonizó el thriller Gangster Squad, el drama generacional The Place Beyond the Pines, y Only God Forgives. Debutó como director con Lost River, que fue estrenada en 2014.</p>
                <p>Su banda, Dead Man's Bones, lanzó su primer álbum en 2009.</p>
            </section>
    
            <section id="informacion-presonal">
                <h2>Información personal</h2>
                <ul>
                    <li>Nombre: Ryan Thomas Gosling</li>
                    <li>Fecha de nacimiento: 12 de noviembre de 1980</li>
                    <li>Lugar de nacimiento: London, Ontario, Canadá</li>
                    <li>Altura: 1.84 m</li>
                    <li>Color de ojos: Azules</li>
                    <li>Color de cabello: Rubio</li>
                    <li>Estado civil: Casado</li>
                    <li>Cónyuge: Eva Mendes</li>
                    <li>Hijos: 2</li>
                </ul>
            </section>
        </div>      

        <section id="premios-nominacions">
        <h2>Premios y nominaciones</h2>
            <ul>
                <li>Óscar: nominado a Mejor Actor por “La La Land” (2017)</li>
                <li>Globo de Oro: nominado a Mejor Actor - Comedia o Musical por “La La Land” (2017)</li>
                <li>BAFTA: nominado a Mejor Actor de Reparto por “Barbie” (2023)</li>
                <li>Globos de Oro: nominado a Mejor Actor de Reparto por “Barbie” (2023)</li>
                <li>Satellite: nominado a Mejor Actor de Reparto por “Barbie” (2023)</li>
            </ul>
        </section>
        
        
        <section id="curiosidades">
            <h2>Curiosidades</h2>
            <ul>
                <li>Es vegetariano desde los 15 años.</li>
                <li>Es un gran fanático de la música de Britney Spears.</li>
                <li>En 2001, Gosling lanzó su carrera como cantante con el grupo de pop “Dead Man’s Bones”, que lanzó un álbum homónimo en 2009.</li>
                <li>Gosling también es un apasionado de la música y ha actuado en conciertos y festivales de música.</li>
                <li>En 2004, Gosling se unió a la Fundación Pencils of Promise, una organización sin fines de lucro que se centra en la educación y la construcción de escuelas en países en desarrollo.</li>
                <li>Gosling es conocido por sus papeles en películas como “The Notebook”, “Half Nelson”, “La La Land” y “First Man”.</li>
                <li>Ha sido nominado a varios premios, incluyendo un Óscar y un Globo de Oro.</li>
                <li>En 2022, Gosling se convirtió en el Ken de la película “Barbie” junto a Margot Robbie.</li>
                <li>Gosling es conocido por su apoyo a la justicia social y ha participado en varias campañas y eventos benéficos, incluyendo la lucha contra la violencia doméstica y el apoyo a la educación.</li>
            </ul>
        </section>

    </main>
    <footer>
        <p>Derechos de autor © 2024. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
