¿/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

section h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

section ul {
    padding-left: 20px;
}

section ul li {
    margin-bottom: 10px;
}



#biografia {
    flex: 1;
}

#informacion-personal {
    flex: 1;
    padding-left: 20px;
    background-color: #333;
}

/* Estilos para el modo claro */
.light-mode {
    background-color: #fff;
    color: #333;
}

.light-mode header {
    background-color: #fff;
    color: #333;
}

.light-mode nav ul li a {
    color: #333;
}

.light-mode section {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
}

.light-mode section h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
}

.light-mode section ul li {
    color: #333;
}
.light-mode #informacion {
    background-color: #ccc; /* Cambia el color de fondo para el modo oscuro */
    color: #333;
    border: 1px solid #fff;
}

/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode header {
    background-color: #333;
    color: #fff;
}

.dark-mode nav ul li a {
    color: #fff;
}

.dark-mode section {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
}

.dark-mode section h2 {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.dark-mode section ul li {
    color: #fff;
}

.dark-mode #informacion {
    background-color: #222; /* Cambia el color de fondo para el modo oscuro */
    color: #fff;
    border: 1px solid #fff;
}

