<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>Page Title</title>
    <style>
        body {
          background-image: url('digital.gif');
          font-family: Times new Roman;
          color: #f1f1f1;
          text-align: center;
        }
        </style>
</head>
<body>
    <h1>Real suffering is not known</h1>
     <p> &nbsp; </p>
      <p> &nbsp; </p>
      <img src="arm.png" width="300" height="200">
       <p> &nbsp; </p>
        <p> &nbsp; </p>
         <p> &nbsp; </p>
    <p>what is the purpose of a girl destined to die</p>
    <p>over, and over, and over, and over, and over,</p>
    <p>and over, and over, and over, and over, and over again?</p>
    <p>do you know what it feels like to be cursed with </p>
    <p> the ironic immortality of a digital body? </p>
    <p> &nbsp; </p>
     <p> &nbsp; </p>
      <p> &nbsp; </p>
       <p> &nbsp; </p>
        <p> &nbsp; </p>
    <p> it does not matter how many times she bleeds </p>
    <p> it does not matter how many times she suffers </p>
    <p> she will always be back the next time you open yo   &nbsp;&nbsp;&nbsp;          ur      g&nbsp;&nbsp;&nbsp;&nbsp; a me </p>
    
  


<div at-magnifier-wrapper=""><div class="at-theme-light"><div class="at-base notranslate" translate="no"></div></div></div></body>
</html>