<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/galeria.css">
    <title>Galeria</title>
</head>
<body>

    <header>
        <h1>Ryan Gosling</h1>
        <nav>
            <ul>
                <li><a href="https://code4u.me/">ㅤ</a></li>
                <li><a href="index.html">Biografía</a></li>
                <li><a href="filmografia.html">Filmografía</a></li>
                <li><a href="#galeria">Imágenes</a></li>
            </ul>
        </nav>
    </header>

    <h2>Frames memorables</h2>

    <div class = "row">
        <div class = "column">
            <img alt="picture1"  src="assets/galeria/1.webp">
            <img alt="picture2"  src="assets/galeria/2.webp">
            <img alt="picture3"  src="assets/galeria/3.jpg">
            <img alt="picture4"  src="assets/galeria/4.jpg">
            <img alt="picture5"  src="assets/galeria/5.webp">
        </div>

        <div class = "column">
            <img alt="picture6"  src="assets/galeria/6.jpg">
            <img alt="picture7"  src="assets/galeria/7.webp">
            <img alt="picture8"  src="assets/galeria/8.webp">
            <img alt="picture9"  src="assets/galeria/9.jpg">
            <img alt="picture10"  src="assets/galeria/10.png">
        </div>

        <div class = "column">
            <img alt="picture11"  src="assets/galeria/11.jpg">
            <img alt="picture12"  src="assets/galeria/12.png">
            <img alt="picture13"  src="assets/galeria/13.png">
            <img alt="picture14"  src="assets/galeria/14.jpg">
            <img alt="picture15"  src="assets/galeria/15.jpg">
        </div>

        <div class = "column">
            <img alt="picture16"  src="assets/galeria/16.jpg">
            <img alt="picture17"  src="assets/galeria/17.jpg">
            <img alt="picture18"  src="assets/galeria/18.jpg">
            <img alt="picture19"  src="assets/galeria/19.webp">
            <img alt="picture20"  src="assets/galeria/20.jpg">
        </div>
    </div>

    <footer>
        <p>© 2020 Ryan Gosling</p>
    </footer>

</body>
</html>
